
<!DOCTYPE html>
<html>

<head>
	

	<title>Patient Page</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
	<script type="text/javascript" src="/files/js/stickyfillmin.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="/files/js/pageScript.js"></script>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Pacifico"/>
	<link rel="stylesheet" type="text/css" href="/files/css/views.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />


</head>
<body> 
	<div class="background">
		<div class="sidebarContainer">
			<div class="row">
				<nav class="col-md-2 sidebar">
					<div class = "sidebar sticky " >
						<div class = "basicInfo"> 
							<h2 id = "name"><%= data.firstName%> <%= data.lastName%></h2>
							<br>
							<p id="ageSex"> (Age) 19, <%=data.sex%> </p>
							<p id="dob"><%= data.birthdate%></p>
							<p id="weightHeight"> <%= data.weight%> kg, <%= data.height%> cm </p>
							<p id="allergiesSide"> Allergies: (loop patient.allergies[i]) </p>
						</div>
						<ul class="nav nav-pills nav-stacked links">
							<li class="active current"><a href='/patientPage/<%=data.id%>'>Patient Summary</a></li>
							<li><a href="/patientPage/<%=data.id%>/history">Information &amp; History </a></li>
							<li><a href="/patientPage/<%=data.id%>/problemList">Problem List</a></li>
							<li><a href="/patientPage/<%=data.id%>/medications">Medication List</a></li>
							<li><a href="/patientPage/<%=data.id%>/immunization">Immunization Record</a></li>
							<li><a href="/patientPage/<%=data.id%>/allergies">Allergies</a></li>
							<li><a href="/patientPage/<%=data.id%>/wellChildCheck">Well Child Check Page</a></li>
							<li><a href="/patientPage/<%=data.id%>/wellChildCheckForm">Well Child Check Form</a></li>
							<li><a href="/patientPage/<%=data.id%>/testing">Testing</a></li>
							<li><a href="/patientPage/<%=data.id%>/growthCharts">Growth Charts</a></li>
							<li><a href="#section7">Nurse Notes</a></li>
							<li><a href="#section8">Scans</a></li>
						</ul>
					</div>
				</nav>
				<div class="col-md">   
					<div class = "card header">
						<div class = "topRight">
							<a> Welcome, "*User Name*"  | </a>
							<a href="/" class="btn btn-outline-success"> Logout </a>
						</div>
						<div>
						 <a href="/patientSearch" style="text-decoration : none "> <p class = "label" id = "R-plus"> R+ </p>
            <p class = "label" id = "Childrens">Childrens</p> </a>
							<a href="#Pharmacy" class = "top-nav" id = "pharmacy">Pharmacy</a>
							<a href="#AllPatients" class = "top-nav" id = "rec-pat">Recent Patients</a>
							<a href="/patientSearch" class = "top-nav" id = "search-pat">Search Patients</a>
							<a href="/form" class = "top-nav" id = "search-pat">Add Patient</a>

						</div>
					</div>
					
					<div class = "content-container">
						<div class = "card box summary">
							<h3 class="title"> Medication List </h3>
						</div>
						
						<div class="box card section">
							<table class="w3-table-all">
								<div class="subTitle">
									Chronic Medications 
								</div>
								<thead>
									<tr class="w3-light-grey">
										<th>Name of Rx</th>
										<th>Dose</th>
										<th>Time</th>
										<th>Route</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Diagnosis</th>
										<th class='edit'>Edit</th>
									</tr>
								</thead>
								<tbody id="chronicMedTableBody" >
									<tr>
										<td>Ceterizine</td>
										<td>2.5 mL</td>
										<td>Daily 8am</td>
										<td>PO</td>
										<td>01/02/2001</td>
										<td>cont</td>
										<td>Itching</td>
										<td><button class="editBtn btn">Edit</button></td>
									</tr>
								</tbody>
							</table>
							<form id="chronicMedForm" class="tr addForm" method="post" >
								<span class="td"><input type="text" name="chronicMedDrugName" placeholder="Drug Name"></span>
								<span class="td"><input type="text" name="chronicMedDose" placeholder="Dose"></span>
								<span class="td"><input type="text" name="chronicMedTime"	placeholder="Time"></span>
								<span class="td"><input type="text" name="chronicMedRoute" placeholder="Route"></span>
								<span class="td"><input type="text" name="chronicMedStartDate" class="datepicker form-control"></span>
								<span class="td"><input type="text" name="chronicMedEndDate" class="datepicker form-control" ></span>
								<span class="td"><input type="text" name="chronicMedDescription" placeholder="Description"></span>

								<input type="submit" value="Submit" name="chronicMedSubmit" class="formSubmit">
								<input type="button" value="Cancel" name="cancel" class="formSubmit cancel">
							</form>

							<div>                               
								<button id="addChronicMed" class="add"> + </button>
							</div>
						</div>


						
						<div class="box card section">
							<table class="w3-table-all">
								<div class="subTitle">
									Acute Medications 
								</div>
								<thead>
									<tr class="w3-light-grey">
										<th>Name of Rx</th>
										<th>Dose</th>
										<th>Time</th>
										<th>Route</th>
										<th>Start Date</th>
										<th>End Date</th>
										<th>Diagnosis</th>
										<th class='edit'>Edit</th>
									</tr>
								</thead>
								<tbody id="acuteMedTableBody" >
									<tr>
										<td>Ceterizine</td>
										<td>2.5 mL</td>
										<td>Daily 8am</td>
										<td>PO</td>
										<td>01/02/2001</td>
										<td>cont</td>
										<td>Itching</td>
										<td><button class="editBtn btn">Edit</button></td>
									</tr>
								</tbody>
							</table>
							<form id="acuteMedForm" class="tr addForm" method="post" >
								<span class="td"><input type="text" name="acuteMedDrugName" placeholder="Drug Name" ></span>
								<span class="td"><input type="text" name="acuteMedDose" placeholder="Dose"></span>
								<span class="td"><input type="text" name="acuteMedTime" placeholder="Time"></span>
								<span class="td"><input type="text" name="acuteMedRoute" placeholder="Route"></span>
								<span class="td"><input type="text" name="acuteMedStartDate" class="datepicker form-control" ></span>
								<span class="td"><input type="text" name="acuteMedEndDate" class="datepicker form-control" ></span>
								<span class="td"><input type="text" name="acuteMedDescription" placeholder="Description"></span>

								<input type="submit" value="Submit" name="acuteMedSubmit" class="formSubmit">
								<input type="button" value="Cancel" name="cancel" class="formSubmit cancel">
							</form>

							<div>                               
								<button id="addAcuteMed" class="add"> + </button>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

<script>


</script>
</html>


